<section id="about" class="text-center">
  <div class="container">
    <h2 class="text-center">About Me</h2>
    <hr class="hr-style-primary"></hr>
    <div class="row ">

    </div>

  </div>
</section>
