<section id="about">
  <div id="about-wrapper">
    <div class="container">
      <h2 class="text-center">About Me</h2>
      <hr class="hr-style-primary"></hr>
      <div class="row ">
        <div class="six offset-by-six columns">
          <p class="big">
            As a designer I create many different kind of design best matched to my clients needs. To provide best quality projects I create user interfaces for web and mobile supported ux researches, user testing and own experience.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
