<section id="portfolio" class="text-center">
  <div class="container">
    <h2>Portfolio</h2>
    <hr class="hr-style-primary">
    </hr>

    <div class="row">
      <div class="twelve columns">
        <div class="section-wrapper">
          <div class="section-content">
            <div class="section-title">
              <h1>Brand Identity</h1>
              <div class="link-container">
                <a href="" class="btn btn-brand-one">View Details</a>
              </div>
            </div>
            <div class="image-box">

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns">
        <div class="section-wrapper">
          <div class="section-content">
            <div class="section-title">
              <h1>Magazine</h1>
              <div class="link-container">
                <a href="" class="btn btn-brand-one">View Details</a>
              </div>
            </div>
            <div class="image-box">

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns">
        <div class="section-wrapper">
          <div class="section-content">
            <div class="section-title">
              <h1>UI</h1>
              <div class="link-container">
                <a href="" class="btn btn-brand-one">View Details</a>
              </div>
            </div>
            <div class="image-box">

            </div>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- end of container -->
</section>
