<section id="skills">
  <div class="container">
    <h2 class="text-center">My Skills</h2>
    <hr class="hr-style-primary"></hr>
    <div class="row ">
      <div class="twelve columns">
        <p class="text-center big">I am using various digital tool for my services. <br>
          Most are adobe product. Check out my skill level from below graphs.</p>
      </div>
    </div>

  </div>
</section>
