<section id="skills">
  <div class="container">
    <div id="skills-title">
      <h2 class="text-center">My Skills</h2>
      <hr class="hr-style-primary">
    </div>
    <div class="row ">
      <div class="twelve columns">
        <div class="skill-wrapper">
          <div class="skill-content">
            <p class="text-center big">I am using various digital tool for my services. <br>
              Most are adobe product. Check out my skill level from below graphs.</p>
            <p class="big">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, totam porro nostrum quos vel accusamus quia sit earum expedita ipsa fugit aut cumque cum obcaecati! Unde sit odio explicabo doloremque! Dolore totam consequuntur est voluptatem magni quod fugiat nihil quibusdam magnam! Omnis a nesciunt quasi totam magni voluptatum harum atque.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
