<nav id="navigation">

  <div id="main-navbar" class="navbar-main">
    <ul class="page-scroll">
      <li class="logo-container"><a class="logo" href="#site-header">Rafi Aman</a><span class="logo-box"></span></li>
      <li><a class="medium" href="#about">About</a></li>
      <li><a class="medium" href="#portfolio">Portfolio</a></li>
      <li><a class="medium" href="#skills">Skills</a></li>
    </ul>
  </div>

  <div id="toggle-navbar" class="navbar-toggle">
    <div class="bar"></div>
  </div>

  <div id="mobile-navbar" class="navbar-mobile"></div>

</nav>

<div class="dot-navbar">
  <ul>
    <li class="current">
      <a class="is-selected" href="#top">
        <span class="cd-dot"></span>
      </a>
    </li>
    <li>
      <a href="#about">
        <span class="cd-dot"></span>
      </a>
    </li>
    <li>
      <a href="#portfolio">
        <span class="cd-dot"></span>
      </a>
    </li>
    <li>
      <a href="#skills">
        <span class="cd-dot"></span>
      </a>
    </li>
  </ul>
</div>
