<nav id="navigation">

  <div id="main-navbar" class="navbar-main">
    <ul class="page-scroll">
      <li class="logo-container">
        <a class="logo" href="#site-header">
          <span class="logo-title">Rafi Aman</span>
          <span class="logo-box"></span>
        </a>
      </li>
      <li class="section-links"><a class="medium" href="#about">About</a></li>
      <li class="section-links"><a class="medium" href="#portfolio">Portfolio</a></li>
      <li class="section-links"><a class="medium" href="#skills">Skills</a></li>
    </ul>
  </div>

  <div id="toggle-navbar" class="navbar-toggle">
    <div class="bar"></div>
  </div>

  <div id="mobile-navbar" class="navbar-mobile"></div>

</nav>

<div class="dot-navbar">
  <ul class="page-scroll">
    <li>
      <a href="#site-header">
        <span class="cd-dot"></span>
      </a>
    </li>
    <li>
      <a href="#about">
        <span class="cd-dot"></span>
      </a>
    </li>
    <li>
      <a href="#portfolio">
        <span class="cd-dot"></span>
      </a>
    </li>
    <li>
      <a href="#skills">
        <span class="cd-dot"></span>
      </a>
    </li>
  </ul>
</div>
